<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Home | Alpha Blog</title>
  <%= stylesheet_link_tag "assets/sylesheets/styles.css" %>
</head>

<body>

  <div class="center jumbotron">
    <h1> Rails Test Blog </h1>
    <%= link_to 'Sign Up', signup_path , class: 'btn btn-success btn-lg btn-xlg' %>
    <h2>Demonstration of Ruby on Rails through the use of a blogging application.</h2>
</div>



</body>

</html>

