#menu-items { float: right;}

#menu-items li a{ color: white; font-weight: bold;}

#main-menu {background-color: #080808;}

.navbar-brand {color: white;}

#content {background-image: url('/assets/alpha-bg.jpg');
          margin-top: -25px;
          min-height:500px; }

.sign-up { width: 200px; display: block; margin: 0 auto; margin-top: 35px;}
.glyphicon { padding: 15px;}
.des-content { padding-right: 40px; padding-bottom: 30px;}

#footer { background-color: #080808; height: 40px;}

#footer p {color: white; padding-top: 10px;}

.container-fluid { padding: 0;}