<div class="container-fluid">

  <footer class="footer ">
    <small>

      <p> Copyright &copy; Alexander's Test Blog</p>
    </small>



      <ul id="social">
        <li><img src="assets/linkedin-icon.png" height="25px"> </li>
        <li><img src="assets/facebook-icon.jpg" height="25px"> </li>
        <li><img src="assets/github-icon.png" height="30px"> </li>
      </ul>


  </footer>

</div>